.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div {
    height: 90%;
    width: 90%;
    border: 1px solid #bbc;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titlebar {
    border-bottom: 1px solid #bbc;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.close_btn {
    border: none;
    outline: none;
    background: transparent;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.close_btn:hover {
    color: #f44;
}

.preview {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

@media (max-width: 900px) {
    .container {
        height: 100vmax;
    }
}