::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #557;
}

::-webkit-scrollbar-thumb:hover {
  background: #779;
}

body {
  height: 100%;
  overflow-x: hidden;
  background: #f3f3ff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #e83e8c;
}


pre {
  background: rgba(204, 204, 221, 0.75);
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  display: none;
}

pre code {
  color: #333;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  transition: all 0.1s ease;
}